@{
    ViewBag.Title = "Home Page";
}

<input type="hidden" data-url="Client,Sessions" value="@Url.Action("Sessions", "Client")" />
<input type="hidden" data-url="Client,HashedJsonDump" value="@Url.Action("HashedJsonDump", "Client")" />
<input type="hidden" data-url="Client,Option" value="@Url.Action("Option", "Client")" />
<input type="hidden" data-url="Client,MatchingFileInfo" value="@Url.Action("MatchingFileInfo", "Client")" />

<main>
    <section>
        <div class="row">
            <!-- Session selector -->
            <div class="col-sm-3">
                <div class="input-group">
                    <label class="input-group-text" for="ddb_Sessions">Session</label>
                    <select class="form-select" data-bind="options: sessions, optionsText: (session) => `${session.name()}`, value: currentSession"></select>
                </div>
            </div>
            <!-- Session information -->
            <div class="col-sm-9" data-bind="visible: hashedJsonDump() !== null, with: hashedJsonDump()">
                <ul class="list-group list-group-horizontal" data-bind="with: managementController">
                    <li class="list-group-item" style="padding: 6px 16px">
                        <strong data-bind="text: name"></strong>
                    </li>
                    <li class="list-group-item" data-bind="with: mediaSort" style="padding: 6px 16px">
                        Order by
                        <span data-bind="visible: sortBy() !== 'system', text: '\'' + namespaces().join('-') + '\''"></span>
                        <span data-bind="visible: sortBy() === 'system', text: '\'' + friendlySystemSortType() + '\''"></span>
                        in
                        <span data-bind="text: ascending() ? 'ASC' : 'DESC'"></span>
                        order
                    </li>
                    <li class="list-group-item" data-bind="with: mediaCollect, visible: mediaCollect().namespaces().length !== 0" style="padding: 6px 16px">
                        Collect by
                        <span data-bind="text: namespaces().join('-')"></span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Page selector -->
    <section data-bind="visible: currentSession() !== null, with: currentSession">
        <div data-bind="with: notebook">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">HydrusSharp</a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Pages" aria-controls="Pages" aria-expanded="false" aria-label="Toggle pages">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="Pages" class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <!-- ko foreach: items -->
                            <li class="nav-item dropdown" data-bind="visible: serialisableType() === 106">
                                <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bind="text: name, attr: { id: name }"></button>
                                <div class="dropdown-menu">
                                    <!-- ko foreach: typeof(items) !== 'undefined' ? items : [] -->
                                    <button type="button" class="dropdown-item" data-bind="text: $data.name, click: () => { $root.loadHashedJsonDumpAsync($data.hash()); }"></button>
                                    <!-- /ko -->
                                </div>
                            </li>
                            <li class="nav-item" data-bind="visible: serialisableType() === 107">
                                <a href="#" class="nav-link" data-bind="text: name, click: () => { $root.loadHashedJsonDumpAsync($data.hash()); }"></a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- Sidebar -->
    <aside class="d-flex flex-column flex-shrink-0 bg-body-secondary sidebar" data-bind="visible: hashedJsonDump() !== null, with: hashedJsonDump()">
        <div data-bind="with: managementController().fileSearchContext">
            <ul class="list-group">
                <!-- ko foreach: predicates -->
                <li class="list-group-item">
                    <span data-bind="attr: { class: searchType() === 0 ? '' : 'fst-italic' }">
                        <span data-bind="visible: mustBeTrue() != true">-</span>
                        <span data-bind="text: friendlySearchType"></span>
                    </span>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </aside>
    <!-- Returned media -->
    <section class="d-flex flex-column flex-shrink-0 p-3 searchResults">
        <div data-bind="visible: loadingFiles() === false">
            <ol class="d-flex flex-row flex-wrap list-unstyled">
                <!-- ko foreach: fileInfos -->
                <li class="m-1" data-bind="attr: { style: `width: ${$root.thumbnailWidth()}px; margin-right: 10px` }">
                    <a class="figure img-thumbnail" target="_blank" data-bind="attr: { href: `@Url.Action("GetMedia", "Media")?hashId=${hashId()}&isThumbnail=false` }">
                        <div class="figure-img img-thumbnail border-0 d-flex flex-column justify-content-around overflow-hidden position-relative" data-bind="attr: { style: `width: ${$root.thumbnailWidth()}px; height: ${$root.thumbnailHeight()}px;` }">
                            <img class="flex-grow-0 text-center fs-1 lh-lg bg-danger-subtle" data-bind="attr: { srcset: `@Url.Action("GetMedia", "Media")?hashId=${hashId()}&isThumbnail=true` }" style="width: 100%" alt="Missing Item" />
                        </div>
                        <figcaption class="figure-caption text-center fw-bold" data-bind="text: tags().filter(tag => tag.namespace() === 'title').map(tag => tag.subTag()).join(', ')"></figcaption>
                    </a>
                </li>
                <!-- /ko -->
            </ol>
        </div>
        <div data-bind="visible: loadingFiles() === true">
            Loading...
        </div>
        <nav aria-label="Search result pages">
            <ol class="pagination">
                <li data-bind="visible: $root.numberOfPages() !== 0" class="page-item">
                    <a class="page-link" data-bind="text: 'First', click: () => { $root.selectedPage(1); }, attr: { href: 1 !== $root.selectedPage() ? '#' : null }"></a>
                </li>
                <!-- ko foreach: selectablePages -->
                <li data-bind="attr: { class: $data !== $root.selectedPage() ? 'page-item' : 'page-item active' }" class="page-item">
                    <a class="page-link" data-bind="text: $data, click: () => { $root.selectedPage($data); }, attr: { href: $data !== $root.selectedPage() ? '#' : null }"></a>
                </li>
                <!-- /ko -->
                <li data-bind="visible: $root.numberOfPages() !== 0" class="page-item">
                    <a class="page-link" data-bind="text: 'Last', click: () => { $root.selectedPage($root.numberOfPages()); }, attr: { href: $root.numberOfPages() !== $root.selectedPage() ? '#' : null }"></a>
                </li>
            </ol>
        </nav>
    </section>
</main>

@section scripts {

    @Scripts.Render("~/bundles/scripts/index")
}